*{
     color: white;
     font-family: 'Quicksand', sans-serif;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
    backdrop-filter: blur(5px);
}
.header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header nav ul li {
    display: inline;
    margin-right: 20px;
}
.header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header img {
    max-width: 125px;
}

body{
    background-image: url(../assets/wallpaperslugterra.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

@keyframes izqDer {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.izq-der {
    animation: izqDer 1s ease forwards; /* Duración de la animación y estilo */
}

.list-item{
    padding: 5;
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
    color: white;
}

.list-item:hover{
    border: 1px white solid;
    transition: 1s;
    cursor: pointer;
}

.text-box-g {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.text-box {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    font-size: 30px;
}

.img-wh{
    max-width: 500px;
    height: auto;
}

a{
    text-decoration: none;
}



.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}
